@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;1,700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

html {
    font-style: 16px;
    font-family: 'Ibarra Real Nova', serif;
    --gray1: #a7a7ab;
    --gray2: #727070;
    --gray3: #312f2f;

    --black1: #242424;
    --black2: #000;
    --black3: #1d1d1d;
    --white1: #fbfbfb;
    --white2: #fff;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--white1);

    display: grid;
    align-items: center;
    justify-items: center;
}

/* ============ Main ============ */
.main-cont {
    width: 70%;

    display: grid;
    grid-template-areas: 'a' 'b' 'c';
    grid-template-rows: 1fr 2fr 0.3fr;
}

/* ============ Top Shelf ============ */
.main-cont > div:first-child {
    grid-area: a;

    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: end;
}

.main-cont > div:first-child > span {
    font-size: max(3vw, 20px);
    line-height: 0.8;
    margin-bottom: 1rem;
    color: var(--black1);
}

.main-cont > div:first-child > span > p {
    font-style: italic;
    font-weight: bold;
}

.main-cont > div:first-child > img {
    justify-self: end;
    width: max(80%, 150px);
}

/* ============ Shelf ============ */
.main-cont > div:nth-child(2) {
    grid-area: b;
    background-color: var(--gray1);

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
}

.shelf-row {
    background-color: var(--gray2);
    width: 90%;
    height: 70%;
}

/* ============ Shelf Legs ============ */
.main-cont > div:last-child {
    grid-area: c;

    display: grid;
    grid-template-areas: 'a b';
    grid-template-columns: 1fr 1fr;
}

.shelf-leg {
    background-color: var(--gray2);
    width: 7vw;
}

.shelf-leg:first-child {
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
}

.shelf-leg:last-child {
    grid-area: b;
    justify-self: end;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
}
