@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;1,700&display=swap');

*,
*::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    /*  outline: 1px red solid; */
}

html {
    font-size: 16px;
    font-family: 'Ibarra Real Nova', serif;
    --gray1: #a7a7ab;
    --gray2: #727070;
    --gray3: #312f2f;

    --black1: #242424;
    --black2: #000;
    --black3: #1d1d1d;
    --white1: #fbfbfb;
    --white2: #fff;
}

/*================== Body =================*/
body {
    width: 100vw;
    height: 100vh;

    display: flex;
    background-color: var(--white1);
}

.main-cont {
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 600px;

    display: grid;
    grid-template-rows: 0.6fr 2fr 0.5fr;
}

.side {
    flex-grow: 1;
    flex-shrink: 2;
}

/*================== Shelf =================*/
.main-cont > div:first-child {
    grid-row: span 1;
    padding-top: 2%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    align-items: end;
}

.main-cont > div:nth-child(2) {
    grid-row: span 1;
    background-color: var(--gray1);
    padding: 5%;

    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    column-gap: 2%;
    row-gap: 11%;
    justify-content: center;
    align-content: center;
}

.main-cont > div:last-child {
    grid-row: span 1;
}

/*================== Top Shelf =================*/
.main-cont > div:first-child > span {
    font-size: max(30px, 3vw);
    line-height: 0.8;
    margin-bottom: 1rem;
    color: var(--black1);
    padding-left: 5%;
}

.main-cont > div:first-child > span > p {
    font-style: italic;
    font-weight: bold;
}

.main-cont > div:first-child > img {
    justify-self: end;
    width: max(300px, 100%);
}

@media only screen and (max-width: 536px) {
    .main-cont > div:first-child > span {
        padding-top: 2%;
        padding-left: 5%;
    }

    .main-cont > div:first-child > img {
        justify-self: end;
        width: 80%;
        padding-right: 5%;
    }
}

/*================== Shelf Body =================*/
.book {
    background-color: var(--gray3);
    height: 200px;
}

.add {
    background-color: var(--black3);
    color: var(--white1);
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*================== Shelf Legs =================*/
.main-cont > div:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.shelf-leg {
    background-color: var(--gray2);
    width: max(60px, 25%);
    height: max(50px, 5vw);
}

.shelf-leg:first-child {
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
}

.shelf-leg:last-child {
    justify-self: end;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
}
