@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;1,400;1,700&family=Inter:wght@100&display=swap');

*,
*::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    /*  outline: 1px red solid; */
}

html {
    font-size: 16px;
    font-family: 'Ibarra Real Nova', serif;
    --gray1: #a7a7ab;
    --gray2: #727070;
    --gray3: #312f2f;

    --black1: #242424;
    --black2: #000;
    --black3: #1d1d1d;
    --white1: #fbfbfb;
    --white2: #fff;
}

/*================== Body =================*/
body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;

    display: flex;
    background-color: var(--white1);
}

.main-cont {
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 600px;

    display: grid;
    grid-template-rows: 0.6fr 2fr 0.5fr;
}

.side {
    flex-grow: 1;
    flex-shrink: 2;
}

/*================== Shelf =================*/
.main-cont > div:first-child {
    grid-row: span 1;
    padding-top: 2%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    align-items: end;
}

.main-cont > div:nth-child(2) {
    grid-row: span 1;
    background-color: var(--gray1);
    padding: 5%;

    display: grid;
}

.main-cont > div:last-child {
    grid-row: span 1;
}

/*================== Top Shelf =================*/
.main-cont > div:first-child > span {
    font-size: max(30px, 3vw);
    line-height: 0.8;
    margin-bottom: 1rem;
    color: var(--black1);
    padding-left: 5%;
}

.main-cont > div:first-child > span > p {
    font-style: italic;
    font-weight: bold;
}

.main-cont > div:first-child > img {
    justify-self: end;
    width: max(300px, 90%);
}

@media only screen and (max-width: 536px) {
    .main-cont > div:first-child > span {
        padding-top: 2%;
        padding-left: 5%;
    }

    .main-cont > div:first-child > img {
        justify-self: end;
        width: 80%;
        padding-right: 5%;
    }
}

/*================== Shelf Body =================*/
.inner-shelf {
    background-color: var(--gray2);
    padding: 2% 2% 0 2%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 20px;
    align-content: start;
    justify-items: center;
}

.book {
    background-color: #305092;
    height: 300px;
    width: 150px;
    border-radius: 10px;
    position: relative;

    display: grid;
    grid-template-areas: 'a' 'b' 'c' 'd' 'e' 'f' 'g' 'h' 'i';
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.2fr 0.2fr 1fr 0.2fr 0.2fr 1.5fr 0.2fr 0.7fr;
}

.add {
    background-color: var(--black3);
    color: var(--white1);
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book:hover {
    outline: 3px white solid;
    bottom: 10px;
}

.add:hover {
    background-color: var(--black1);
    bottom: 0;
    outline: none;
}

/*================== Book body =================*/
.book > div:first-child {
    grid-area: b;
}

.book > div:nth-child(3) {
    grid-area: f;
}

.book > div:nth-child(5) {
    grid-area: h;
}

.book > .divider {
    background-color: #111c33;
}

.book > .title {
    background-color: #111c33;
    color: #ffb43b;
    font-size: 1.3rem;
    grid-area: d;

    display: flex;
    align-items: center;
    text-align: center;
}

.book > .author {
    color: #feffae;
    font-size: 0.9rem;
    grid-area: g;
    font-style: italic;

    display: grid;
    grid-template-rows: 1fr 0.4fr;
    justify-items: center;
    text-align: center;
    align-items: end;
}

.book > .author > p {
    font-size: 0.8rem;
    font-family: 'Inter', sans-serif;
    color: #efefef;
    opacity: 0.7;

    align-self: center;
}

.book > .status {
    grid-area: i;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    border: 2px solid greenyellow;

    align-self: center;
    justify-self: center;
}

.done {
    background-color: greenyellow;
}

.book-shadow {
    position: absolute;
    height: 100%;
    width: 10%;
    background-color: rgba(43, 43, 43, 0.25);
    border-radius: 10px 0 0 10px;
}
/*================== Shelf Legs =================*/
.main-cont > div:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10px;
}

.shelf-leg {
    background-color: var(--gray2);
    width: max(60px, 25%);
    height: max(50px, 5vw);
}

.shelf-leg:first-child {
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
}

.shelf-leg:last-child {
    justify-self: end;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
}

/*================== Modal =================*/
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 80%;
    width: 30%;
    padding: 1% 2%;
    border: 0;

    font-size: 1.5rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 5%;
    border: 0;
}

legend {
    text-align: center;
}

legend > h1 {
    font-weight: 400;
    font-style: italic;
    font-size: 2rem;
}

input[type='text'],
input[type='number'] {
    border: none;
    border-bottom: 1px solid var(--black1);
    font-size: 1.5rem;
}
